@use '_globals.scss';
@use '_fromComp.scss';
@use '_headerComp.scss';


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 100vh;

    @media (max-width: 850px){
        flex-direction: column;
    }
}

// haciendo responsive el contenedor principal
